@page "/add"

@using People.Shared.People;
@using People.BlazorWasmClient.Services;

@inject NavigationManager Navigation
@inject PeopleApiClient PeopleApiClient

<PageTitle>Add Person</PageTitle>

<h1>Add Person</h1>

<Errors ErrorList=@resource.Errors />
<form @onsubmit="AddPerson">
    <PersonDetails Person=@person Disabled=@resource.Loading />
    <div class="mt-3 space-between">
        <div>
            <button class="btn btn-primary" type="submit" disabled=@resource.Loading>Add</button>
        </div>
        <div>
            <a class="btn" href="/" disabled=@resource.Loading>Cancel</a>
        </div>
    </div>
</form>

@code {
    PersonAddEditRequest person = new();
    LoadableResource resource = new();

    private async Task AddPerson()
    {
        await resource.TryInvoke(async () =>
        {
            var response = await PeopleApiClient.PostPerson(person);
            if (response.Content == null)
            {
                resource.Errors.Add("An error occurred.");
                return;
            }

            if (response.Content.Error)
            {
                resource.Errors.AddRange(response.Content.Errors.Errors.Select(e => e.Message));
                return;
            }

            response.HttpResponseMessage.EnsureSuccessStatusCode();

            Navigation.NavigateTo("/");
        });
    }
}
