# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.csproj]
indent_size = 2
indent_style = space

[*.{cs,vb}]
csharp_style_namespace_declarations=file_scoped:suggestion

# this. preferences
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

# private field/member preferences
dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private
dotnet_naming_rule.private_fields_with_underscore.symbols = private_fields
dotnet_naming_rule.private_fields_with_underscore.style = camel_case_underscore
dotnet_naming_rule.private_fields_with_underscore.severity = suggestion
dotnet_naming_style.camel_case_underscore.capitalization = camel_case
dotnet_naming_style.camel_case_underscore.required_prefix = _

dotnet_naming_symbols.const_things.required_modifiers = const
dotnet_naming_rule.consts_without_underscore.symbols = const_things
dotnet_naming_rule.consts_without_underscore.style = pascal_case
dotnet_naming_rule.consts_without_underscore.severity = suggestion
dotnet_naming_style.pascal_case.capitalization = pascal_case

[src/People.Infrastructure/Migrations/*.{cs,vb}]
csharp_style_namespace_declarations=file_scoped:none
